<html>

<head>
  <title>{{description}} scanner results {{scan_date}}</title>
  <meta charset="utf-8">
  <style>
img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
  display: flex;
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

table, th, td {
  border: 1px solid;
  text-align: center;
}

th {
  position: sticky;
  top: 0;
  background: wheat;
}


.center-text {
   text-align: center;
}

.green {
    color: green;
}

.red {
    color: red;
}

</style>
</head>

<body>
<h3>{{description}} scanned date: {{scan_date}}</h3>
<table>
<tr>
    <th>Total scanned</th>
    <th>With data</th>
    <th>Interesting</th>
</tr>
<tr>
    <td>{{total_scanned}}</td>
    <td>{{total_with_data}}</td>
    <td>{{interesting_results}}</td>
</tr>
</table>
<br>
<table>
<tr>
    <th>Ticker</th>
    <th>Description</th>
    <th>Last price</th>

    <th>{{tf_1}}</th>
    <th>{{tf_2}}</th>
    <th>{{tf_3}}</th>
    <th>{{tf_4}}</th>

    <th>Potential {{tf_1}}</th>
    <th>Potential {{tf_2}}</th>
    <th>Potential {{tf_3}}</th>
    <th>Potential {{tf_4}}</th>
    <th>List Level</th>

</tr>
{{#scan_list}}
<tr>
   <td><a href="https://www.tradingview.com/chart/?symbol=MOEX:{{name}}">{{name}}</td>
   <td>{{description}}</td>
   <td>{{last_price}}</td>

   <td class="center-text {{style0}}">
        <a href="file://{{img0}}"><img width="128" height="128" src="file://{{img0}}"/></a>
        <span>{{trend0}} - {{potential0}}</span>
   </td>
   <td class="center-text {{style1}}">
        <a href="file://{{img1}}"><img width="128" height="128" src="file://{{img1}}"/></a>
        <span>{{trend1}} - {{potential1}}</span>
   </td>
   <td class="center-text {{style2}}">
        <a href="file://{{img2}}"><img width="128" height="128" src="file://{{img2}}"/></a>
        <span>{{trend2}} - {{potential2}}</span>
   </td>
    <td class="center-text {{style3}}">
        <a href="file://{{img3}}"><img width="128" height="128" src="file://{{img3}}"/></a>
        <span>{{trend3}} - {{potential3}}</span>
   </td>

   <td>{{potential0}}</td>
   <td>{{potential1}}</td>
   <td>{{potential2}}</td>
   <td>{{potential3}}</td>
   <td>{{list_level}}</td>

</tr>
{{/scan_list}}
</table>
</body>
</html>