<html>

<head>
  <title>{{description}} scanner results {{scan_date}}</title>
  <meta charset="utf-8">
  <style>
img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  display: flex;
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

table, th, td {
  border: 1px solid;
  text-align: center;
}

th {
  position: sticky;
  top: 0;
  background: wheat;
}


.center-text {
   text-align: center;
}

.green {
    color: green;
}

.red {
    color: red;
}

</style>
<script type="text/javascript" >
  function onImageIn(event) {
    var x = document.getElementById("preview");
    var target = event.target
    if (!target['data-id']) {
        target['data-id'] = ''+new Date().getTime();
    }
    var img = target.cloneNode();
    img.width = "512";
    img.height = "512";
    if (x.lastChild) {
        var lastChild = x.lastChild;
        if (target['data-id'] != lastChild['data-id']) {
            while (x.lastChild) {
              x.removeChild(x.lastChild);
            }
            x.appendChild(img);
        }
    } else {
        x.appendChild(img);
    }
    x.style.top = '' + (window.scrollY + 40) + 'px';
    x.style.display = '';
  }

  function onImageOut(event) {
    var x = document.getElementById("preview");
    x.style.display = 'none';
  }
</script>
</head>

<body>
<h3>{{description}} scanned date: {{scan_date}}</h3>
<table>
<tr>
    <th>Total scanned</th>
    <th>With data</th>
    <th>Interesting</th>
</tr>
<tr>
    <td>{{total_scanned}}</td>
    <td>{{total_with_data}}</td>
    <td>{{interesting_results}}</td>
</tr>
</table>
<br>
<table>
<tr>
    <th>Ticker</th>
    <th>Description</th>
    <th>Last price</th>

    {{#tfs}}
        <th>{{tf}}</th>
    {{/tfs}}

    <th>List Level</th>

</tr>
{{#scan_list}}
<tr>
   <td><a href="https://www.tradingview.com/chart/?symbol=MOEX:{{name}}">{{name}}</td>
   <td>{{description}}</td>
   <td>{{last_price}}</td>

   {{#states}}
   <td class="center-text {{style}}">
        <a href="file://{{img}}"><img width="128" height="128" onmouseenter="onImageIn(event)" onmouseleave="onImageOut(event)" src="file://{{img}}"/></a>
        <span>{{trend}} - {{potential}}</span>
   </td>
   {{/states}}

   <td>{{list_level}}</td>

</tr>
{{/scan_list}}
</table>
<div style="
    position: absolute;
    top: 10px;
    left: 10px;
    width: inherit;
    height: inherit;
    pointer-events: none;
    display: none;
" id="preview"></div>
</body>
</html>